<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
</head>
<body>
    <h1>{{user['full_name']}}</h1>
    <a href="/users">Home</a>
    <p>Full Name: {{user['full_name']}}</p>
    <p>Email: {{user['email']}}</p>
    <p>Created on: {{user['created_at']}}</p>
    <p>Last updated: {{user['updated_at']}}</p>
    <a href="/users/{{id}}/edit">Edit</a>
    <a href="/users/{{id}}/destroy">Delete</a>
</body>
</html>